nav {
    background-color: #484747;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation-item {
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navigation-item:hover {
    color: #ff6347; /* Tomato color on hover */
}